#sidebar {
    color: #D9AB16;
    background: #113458;
}

#sidebar h2 {
    color: #FFFFFF;
    background-color: #4096B8;
}

#sidebar a {
    color: #3F4548;
}

#sidebar a:hover {
    background-color: #3F4548;
    color: #FFFFFF;